<nav id="nav">
  <div class="container">
    <ul class="left">
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Privacy", privacy_path %></li>
    </ul>
  </div>
</nav>

<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>About the Great Pittsburgh Baking Outlet</em></span>
        <div id="main_content">
            <p>
                We are an online store offering baking equipment, as shown on the 
                TV show The Great Pittsburgh Bake Off.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
