<nav id="nav">
  <div class="container">
    <ul class="left">
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Privacy", privacy_path %></li>
    </ul>
  </div>
</nav>

<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>Contact Information</em></span>
        <div id="main_content">
            <p>Phone: 123-456-7890</p><br>
            <p>Email: ya@gmail.com</p><br>
            <p>Address: 3000 Forbes Avenue Pittsburgh, PA</p><br>
        </div>
      </div>
    </div>
  </div>
</div>
