<h1>Home#privacy</h1>
<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>GPBO Privacy Policy</em></span>
        <div id="main_content">
            <p>
                Privacy
            </p>
        </div>
        <div id="footer">
            <p>
                <a href="privacy.html">Privacy</a>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
